.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-cabrio-car {
	font-size:(99.084/10)*1rem;
	width:(99.084/99.084)*1em;
}
.icon-calendar_ {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-car-black-side-view-pointing-left {
	font-size:(99.04/10)*1rem;
	width:(99.04/99.04)*1em;
}
.icon-car-of-hatchback-model {
	font-size:(98.796/10)*1rem;
	width:(98.796/98.796)*1em;
}
.icon-chauffeur {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-coupe-car {
	font-size:(99.382/10)*1rem;
	width:(99.382/99.382)*1em;
}
.icon-coupon {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-jeep {
	font-size:(99.087/10)*1rem;
	width:(99.088/99.087)*1em;
}
.icon-microbus {
	font-size:(99.325/10)*1rem;
	width:(99.325/99.325)*1em;
}
.icon-pick-up {
	font-size:(99.288/10)*1rem;
	width:(99.288/99.288)*1em;
}
.icon-sedan-car-model {
	font-size:(98.967/10)*1rem;
	width:(98.967/98.967)*1em;
}
.icon-sportive-car {
	font-size:(99.254/10)*1rem;
	width:(99.255/99.254)*1em;
}
.icon-telephone {
	font-size:(480.6/10)*1rem;
	width:(480.6/480.6)*1em;
}
.icon-van-black-transport-side-view-pointing-to-left {
	font-size:(99.135/10)*1rem;
	width:(99.135/99.135)*1em;
}
.icon-wallet {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
